*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header nav {
    background-color: rgba(151, 226, 245, 0.936);
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

header nav .logo img {
    width: 60px;
    margin-left: 50px;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    font-family:'Lucida Sans', sans-serif;
    color: rgb(62, 16, 148);
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0;
    transition: all;
    transition-duration: 200ms;
}

header nav ul li a:hover {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    color: rgb(7, 8, 9);
}